
{% extends 'memberaccount/base.html' %}
{% block content %}
	<header>
		<div class="page-header">
			<div class="row"><h5>Member Shares Statement</h5><hr></div>		
			<div class="row" >
				<div class="col-4">
					<h6>
						SAMRA GROUP LTD <br>
						P.O BOX 38-50244 AMAGORO <br>
						TEL: 0715205788/0721630985 <br>
						Email: info@deklirkcentre.co.ke <br><br>
						www.dekirkcent.co.ke
					</h6>
				</div>
				<div class="col-8" align="left"><h2><a href="">AMRA GROUP LTD</a></h2></div>			
			</div>				
		</div>
	</header>
	
	<div class="row">
		<table class="table table-striped w-auto">
			<!--table head-->
			<thead>
				<th>#</th>
				<th>Date Posted</th>
				<th>Document No</th>
				<th>Description</th>
				<th>Status</th>
				<th>Debit Amout</th>
				<th>Credit Amout</th>
				<th>Balance</th>					
			</thead>
			<!--table head-->
			<!--table body-->
			<tbody>
				{% for member in members %}
				<tr class="table-info">
					<th scope="row">1</th></thead>
					<td>{{ member.date_posted }}</td>
					<td>{{ member.document_no }}</td>
					<td>{{ member.description }}</td>
					<td>{{ member.status }}</td>
					<td>{{ member.debit_amount }}</td>
					<td>{{ member.credit_amount }}</td>
					<td>{{ member.balance }}</td>
				</tr>
				{% endfor %}					
			</tbody>
		</table>			
	</div>  
{% endblock %} 