<html>
<head>
	<title>Django Girls blog</title>
</head>
<body>
	<div>
		{% for member in members %}
		<div>
			<h3 class="col-1">Date Posted</h3><p>{{ member.date_posted }}</p>
			<h3>Document number</h3><p>{{ member.document_no }}</p>
			<h3>Description</h3><p>{{ member.description }}</p>
			<h3>Status</h3><p>{{ member.status }}</hp>
			<h3>Debit Amout</h3><p>{{ member.debit_amount }}</p>
			<h3>Credit Amout</h3><p>{{ member.credit_amount }}</p>
			<h3>Balance</h3><p>{{ member.balance }}</p>
		</div>
    	{% endfor %}
	</div>    	
</body>
</html>